  <section class="bar background-white">
            <div class="container">
                <div class="col-md-12">


                    <div class="row">
                        <div class='col-md-12'>
                            <p class="text-justify">
                                Avant l’arrivée d’HERACLES, les serruriers n’avaient guère d’autre choix que d’installer des produits que l’on pouvait retrouver dans les grandes surfaces de bricolage.
                                <br />De ce fait, non seulement le matériel des marques vendues en magasins de bricolage n’était pas toujours adapté à leurs besoins, mais pire encore, leurs prix de vente étaient constamment comparés et remis en question.
C’est pour ces raisons qu’est née la marque HERACLES dotée d’une qualité et d’une technicité adaptée aux réels besoins des professionnels.
Le premier né de la marque HERACLES fut la serrure 3 points Périclès, conçue et fabriquée dans les usines Picard France, et estampillée A2p* agréée par les assurances.
Puis, la serrure carénée a vu le jour et a définitivement confirmé le succès des produits de cette marque auprès de sa clientèle.
L’offre s’est donc, naturellement, étendue à une très large gamme de produits : des fermes-portes aux cylindres, en passant par des serrures à clés magnétiques, des bandeaux ventouse ou encore du béquillage simple ou designé et des systèmes de contrôle d’accès.
Aujourd’hui, HERACLES se positionne clairement en tant que fabriquant créé pour et par des professionnels.
HERACLES est dotée d’un cahier des charges privilégiant la qualité, la technicité et l’exclusivité de distribution auprès des professionnels.
                            </p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>

        <section class="bar background-pentagon no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Vidéos présentation</h2>
                        </div>

                        <p class="lead">Retrouver nos vidéos produits, en ligne.</p>
                        
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hWvsHnFmbFo" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /.bar -->

        <section class="bar background-image-fixed-2 no-mb color-white text-center">
            <div class="dark-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon icon-lg">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <h3 class="text-uppercase">Besoin d'informations ?</h3>
                        <p class="lead">Nous restons à votre service si vous avez des questions à nous poser.</p>
                        <p class="text-center">
                            <a href="index2.html" class="btn btn-template-transparent-black btn-lg">Contactez-nous</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>

        

        <section class="bar background-gray no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Nos points de ventes</h2>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.259809475434!2d2.24583441609612!3d49.15767657931785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e65a5c5bb22d3d%3A0xea012dbcd6df107b!2s76+Rue+Nicolas+Copernic%2C+60230+Chambly!5e0!3m2!1sfr!2sfr!4v1474459563959"  frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- *** GET IT ***
_________________________________________________________ -->

        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h3>Vous souhaitez voir en ligne notre catalogue produit ?</h3>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a href="#" class="btn btn-template-transparent-primary">Voire notre catalogue</a>
                </div>
            </div>
        </div>


        <!-- *** GET IT END *** -->
