 <section>
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <p>
                                        <img src="img/heracles-logo.png" alt="">
                                    </p>
                                    <h1>Votre coffre fort</h1>
                                    <p>Créé par notre société
                                        <br />pour répondre à vos attentes.</p>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="img/coffre-fort-heracles-carousel.png" alt="coffre fort Heracles">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-7 text-center">
                                    <img class="img-responsive" src="img/cylindre-platinium-carousel.png" alt="cylindre platinium Heracles">
                                </div>

                                <div class="col-sm-5">
                                    <h2>Nos cylindres haute sécurité</h2>
                                    <ul class="list-style-none">
                                        <li>Protection anti-perçage</li>
                                        <li>Cylindre brevetées</li>
                                        <li>Certification A2P</li>
                                        <li>Protégé contre la reproduction non autorisée des clés</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Serrure monopoint</h1>
                                    <ul class="list-style-none">
                                        <li>Toute la sécurité dans votre serrure</li>
                                        <li>Fournis avec clés</li>
                                        <li>Gamme complète avec serrures en poussant et s'entrouvrant</li>
                                        <li>Finitions variées</li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="img/serrure-monopoint-heracles-carousel.png" alt="serrure monopoint Heracles">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="img/judas-numérique-heracles-carousel.png" alt="judas numerique Heracles">
                                </div>
                                <div class="col-sm-5">
                                    <h1>Judas numérique</h1>
                                    <ul class="list-style-none">
                                        <li>Enregistrement photos et vidéos</li>
                                        <li>Automatique lors ce qu'une personne sonne</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>
